.mTip
{ width: auto; height: auto;
  position: absolute;
  /*border: 1px solid #b5b1b1;*/
  /*box-shadow: 2px 2px 0.01em 0.01em rgba(0, 0, 0, .2);*/
  padding: 5px 5px 5px 5px;
  transition: display .5s;
  transition-delay: 5s;
  text-overflow: ellipsis; overflow-wrap: normal;
  white-space: nowrap;
  display: none;
  background-color: #000;
  color: #fff;
  box-shadow: none;
  font-weight: 600;
  font-size: 12px;
  font-family: "segoe ui", "helvetica", "Open Sans", "Source Sans Pro", "arial", sans-serif;
  border: 1px solid rgba(204, 204, 204, .6);
  z-index: 100;
}

.mTip::before, .mTip::after
{ content: "";
  position: absolute;
  width: 0; height: 0;
  border-style: solid;
  border-color: transparent;
  border-top: 0;
}

.mTip::before
{ top: -25%; left: calc(50% - 10px);
  border-bottom-color: #000;
  border-width: 10px;
}

/***********UPSIDE_DOWN_VERSION***********/

.mTip.up::before, .mTip.up::after
{ content: "";
  position: absolute; width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
}

.mTip.up::before
{ top: 92%;
  left: calc(50% - 10px);
  border-top-color: #000;
  border-width: 10px;
}

