.metric
{
  margin: 10px 0;
  padding: 10px;
  border: 1px solid var(--dividerColor);
  border-radius: 3px;
  background-color: var(--normalBgColor);
}

.col-2
{
  padding: 0 10px;
}

.chart
{
  height: 300px;
}

h1.metric-head
{
  font-weight: 300;
  font-size: 20px;
  padding: 5px;
  margin: 10px 0;
}

.tday
{
  background-color: #eff8fe;
  color: #2d95b2;
  font-weight: 600;
}

.yday
{
  background-color: #faf7d4;
  color: #c0a815;
  font-weight: 600;
}

/*region Leaderboard*/
.leaderboard {
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*-webkit-transform: translate(-50%, -50%);*/
  /*transform: translate(-50%, -50%);*/
  /*width: 285px;*/
  height: 308px;
  background: -webkit-linear-gradient(top, #3a404d, #181c26);
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  /*box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);*/
}
.leaderboard h1 {
  font-size: 18px;
  color: #e1e1e1;
  padding: 12px 13px 18px;
}
.leaderboard h1 svg {
  width: 25px;
  height: 26px;
  position: relative;
  top: 3px;
  margin-right: 6px;
  vertical-align: baseline;
}
.leaderboard ol {
  counter-reset: leaderboard;
  list-style-type: none;
  padding-left: 0;

}
.leaderboard ol li {
  position: relative;
  z-index: 1;
  font-size: 14px;
  counter-increment: leaderboard;

  cursor: pointer;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
}

.leaderboard ol li a
{
  padding: 5px 10px 5px 40px;
  height: 51px;
  display: block;
}

.leaderboard ol li a::before {
  content: counter(leaderboard);
  position: absolute;
  z-index: 2;
  top: 15px;
  left: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #c24448;
  background: #fff;
  border-radius: 20px;
  text-align: center;
}

.leaderboard ol li a img
{
  height: 100%;
  z-index: 2;
  position: relative;
}

.leaderboard ol li div.info {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 80px;
  height: 100%;
  width: calc(100% - 120px);
  padding: 5px 10px;
  margin: 0;
  background: none;
  color: #fff;
  padding-right: 5px;


}

.leaderboard ol li div.info div.gauge {
  width: calc(100% - 2px);
  height: 8px;
  border: 1px solid rgba(255, 255, 255, .2);
  background-color: rgba(255, 255, 255, .1);
  margin: 8px auto;
}

.leaderboard ol li div.info p
{
  display: inline-block;
}

div.info p.ratio
{
  float: right;
}

div.gauge div.level
{
  height: 100%;
  width: 30%;
  /*background-color: #00a5ff;*/
  background-image: linear-gradient(to right, #ff006a ,#f9b300 , #e7ff0a 98%);
}

.leaderboard ol li div.info::before, .leaderboard ol li div.info::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -16px;
  left: -19%;
  border-top: 15px solid #c24448;
  border-left: 15px solid transparent;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  opacity: 0;
}
.leaderboard ol li div.info::after {
  left: auto;
  right: -11%;
  border-left: none;
  border-right: 15px solid transparent;
}
.leaderboard ol li div.avPv {
  position: absolute;
  z-index: 2;
  display: block;
  text-align: right;
  right: 10px;
  top: 0;
  height: 100%;
  padding: 3px 0;
  padding-left: 2px;

}

.avPv div{
  padding: 2px 0;
  height: calc(50%);
  line-height: 1.6;
  font-size: 10px;

}

.avPv div.pv
{
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.avPv i
{
  font-size: 5px;
  vertical-align: middle;
}

.pv i
{
  color: #01e50f;
}

.av i
{
  color: #e50d11;
}

.leaderboard ol li::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fa6855;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: 0;
}
.leaderboard ol li:nth-child(1) {
  background: #fa6855;
}
.leaderboard ol li:nth-child(1)::after {
  background: #fa6855;
}
.leaderboard ol li:nth-child(2) {
  background: #e0574f;
}
.leaderboard ol li:nth-child(2)::after {
  background: #e0574f;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
}
.leaderboard ol li:nth-child(2) div.info::before, .leaderboard ol li:nth-child(2) div.info::after {
  border-top: 6px solid #ba4741;
  bottom: -7px;
}
.leaderboard ol li:nth-child(3) {
  background: #d7514d;
}
.leaderboard ol li:nth-child(3)::after {
  background: #d7514d;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
}
.leaderboard ol li:nth-child(3) div.info::before, .leaderboard ol li:nth-child(3) div.info::after {
  border-top: 2px solid #b0433f;
  bottom: -3px;
}
.leaderboard ol li:nth-child(4) {
  background: #cd4b4b;
}
.leaderboard ol li:nth-child(4)::after {
  background: #cd4b4b;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}
.leaderboard ol li:nth-child(4) div.info::before, .leaderboard ol li:nth-child(4) div.info::after {
  top: -7px;
  bottom: auto;
  border-top: none;
  border-bottom: 6px solid #a63d3d;
}
.leaderboard ol li:nth-child(5) {
  background: #c24448;
  border-radius: 0 0 10px 10px;
}
.leaderboard ol li:nth-child(5)::after {
  background: #c24448;
  box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0 0 10px 10px;
}
.leaderboard ol li:nth-child(5) div.info::before, .leaderboard ol li:nth-child(5) div.info::after {
  top: -9px;
  bottom: auto;
  border-top: none;
  border-bottom: 8px solid #993639;
}
.leaderboard ol li:hover {
  z-index: 2;
  overflow: visible;
}
.leaderboard ol li:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1.06) scaleY(1.03);
  transform: scaleX(1.06) scaleY(1.03);
}
.leaderboard ol li:hover div.info::before, .leaderboard ol li:hover div.info::after {
  opacity: 1;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

/*endregion*/