.datepicker
{
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .6);
  font-family: 'Helvetica Neue', arial, sans-serif;
  background: var(--normalBgColor);
  z-index: 100;
  line-height: 1;
  max-width: 250px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3px;
  border: 1px solid var(--dividerColor);
  position: absolute;
  height: auto;
  max-height: 260px;
  /*-webkit-transition: max-height, height .3s ease-in-out;*/
  /*transition: max-height, height .3s ease-in-out;*/
}

.datepicker *
{
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;*/
  font: inherit;
  vertical-align: baseline;
}

.datepicker_calendar
{
  overflow: hidden;
  white-space: nowrap;
}

.datepicker_month
{
  display: inline-table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--normalBgColor);
}

.datepicker_marker,
.datepicker_day
{
  font-size: .8rem;
  padding: .75em .3em;
  text-align: center;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  transition: color 150ms, background 150ms;
}

.datepicker_marker:last-of-type,
.datepicker_day:last-of-type
{
  border-right: 0;
}

.datepicker_header
{
  padding: .3rem .5rem;
  /*text-align: center;*/
  background: #0078ff;
  text-align: justify;
  max-height: 37px;
}

.datepicker_header > *
{
  display: inline-block;
  vertical-align: middle;
}

.datepicker_header:after
{
  content: '';
  display: inline-block;
  width: 100%;
}

.datepicker_button
{
  display: inline-block;
  border: none;
  width: 26px;
  height: 26px;
  position: relative;
  cursor: pointer;
  background: rgba(255, 255, 255, .2);
  border-radius: 100%;
  transition: 150ms background;
}

.datepicker_button:before,
.datepicker_button:after
{
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  left: calc(50% - 3px);
  top: calc(50% - 3px);
  border-top: 2px solid white;
  border-right: 2px solid white;
  transition: 150ms border-color;
}

.datepicker_button:first-child:not(:last-child)
{
  margin-right: .25rem;
}

.datepicker_button:hover,
.datepicker_button:active
{
  background: rgba(255, 255, 255, .85)
}

.datepicker_button:focus
{
  outline: 0 none;
}

.datepicker_button::-moz-focus-inner
{
  padding: 0;
  border: 0;
}

.datepicker_button:hover:before,
.datepicker_button:hover:after
{
  border-color: #0078ff;
}

.datepicker_button:active:before,
.datepicker_button:active:after
{
  border-color: #0078ff;
}

.datepicker_button__prev-year:before
{
  transform: translateX(-30%) rotate(-135deg);
}

.datepicker_button__prev-year:after
{
  transform: translate(50%) rotate(-135deg);
}

.datepicker_button__prev-month:before
{
  transform: translate(10%) rotate(-135deg);
}

.datepicker_button__next-year:before
{
  transform: translateX(-70%) rotate(45deg);
}

.datepicker_button__next-year:after
{
  transform: translate(10%) rotate(45deg);
}

.datepicker_button__next-month:before
{
  transform: translate(-30%) rotate(45deg);
}

.datepicker_button__prev-month:after,
.datepicker_button__next-month:after
{
  display: none;
}

.datepicker_heading
{
  /*font-size: 1.3em;*/
  font-size: 14px;
  color: #fff;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;

}

.datepicker_month
{
  /*border: 1px solid var(--dividerColor);*/
}

.datepicker_marker
{
  color: #fff;
  font-weight: bold;
  font-size: .7rem;
  padding: .45rem .5rem;
}

.datepicker_day
{
  cursor: pointer;
  color: #000;
  font-weight: 400;
}

.datepicker_week:last-of-type .datepicker_day
{
  border-bottom: 0;
}

.datepicker_day__weekend,
.datepicker_marker__weekend
{
  /*background: #fafafa;*/
  background-color: #37ABFE;
  color: #fff;
  font-weight: 600;
}

.datepicker_day__weekend.datepicker_day__today,
.datepicker_marker__weekend.datepicker_day__today
{
  /*background: #fafafa;*/
  background-color: #ffbd35;
}




.datepicker_day__padding
{
  background-color: var(--inputBg) !important;
  /*background-color: var(--normalBgColor) !important;*/
  color: #aaa !important;
  pointer-events: none;
  opacity: .5;
}

.datepicker_day__padding.datepicker_day__weekend
{
  /*background: #f4f4f4;*/
  background-color: #37ABFE;
  color: #fff;
}

.datepicker_day__selected
{
  background-color: #8dd53c;
  color: #000;
  /*border-right: 1px solid #3bcbb7;*/
  /*border-bottom: 1px solid #3bcbb7;*/
  font-weight: bold;
}

.datepicker_day__today
{
  font-weight: 900;
  background-color: #ffbd35;
}

.datepicker tr td:nth-of-type(6):not(.datepicker_day__selected):not(.datepicker_day__today)
{
  background-color: #43bbfe;
}

/*.datepicker_day:not(.datepicker_day__selected):hover*/
.datepicker_day:hover, .datepicker tr td:nth-of-type(6):hover
{
  background-color: rgb(224, 255, 56) !important;
  color: #000;
}

/*.datepicker_day:hover*/
/*{*/
  /*background-color: rgb(224, 255, 56);*/
  /*color: #3bcbb7;*/
/*}*/

.datepicker thead tr th
{
  background-color: #0078ff;
  border: none;
}

.datepicker tr td
{
  border: none;
}

/*.datepicker thead tr th*/
/*{*/
  /*background-color: #0078ff;*/
/*}*/
