/*
#0078ff; __blue
#004089 __deep blue
#f0f0f0 __light gray -form bg color
#ccc __form input border gray 
*/ 

*{margin:0;padding:0;}

body{
  background:#fff;
  font-family:'Open Sans',sans-serif;
}

#standardToolBar{
	width:100%;
	height:20px;
}

#desktop
{
	width:100%;
	height:100%;
	margin:0 auto;
}

.tileSet{
	width:100%;
	height:45%;
	margin-bottom:50px;
}

.tileSet1{
	clear:both;
}

.tile{
	width:250px;
	height:250px;
	margin: 0 auto;
	background: #0078ff;
	float:left;
	margin-right:50px;
}

.tileIcon{
	width:250px;
	height:200px;
}

.tileName{
	width:250px;
	height:50px;
	background:#004089;
}