#user-jumbotron
{
  max-width: 1012px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
}

#user-jumbotron #teacher-bio-data
{
  width: 25%;
  height: 100%;
  padding-right: 16px !important;
  float: left !important;
}

#user-jumbotron #teacher-subjects
{
  width: 75%;
  height: 100%;
  float: right;
}

#user-profile-pic
{
  display: block;
}

#user-profile-pic a
{
  display: block;
  width: 100%;
  height: 100%;
}
#user-profile-pic a img
{
  width: inherit;
  /*height: 230px;*/
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
}

div.bio-data-card
{
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-transform: capitalize;
}

div.bio-data-card h1
{
  width: 100%;
  font-size: 22px;
  font-weight: 600;
}

div.bio-data-card h1 span
{
  display: block;
}

div.bio-data-card h1 span.additional-info
{
  font-size: 18px;
  font-weight: 200;
}

div.bt{
  border-top: 1px solid var(--dividerColor);
}

div.bio-data-card ul li
{
  font-size: 16px;
}

div.bio-data-card span.icon
{
  font-size: 12px;
  display: inline !important;
  width: auto;
  color: var(--dividerColor);
}

div.assigned-classes span
{
  height: 30px;
  padding: 3px 8px;
  font-size: 100%;
  background-color: var(--dividerColor);
  color: var(--useInfoTextColor);
  margin-bottom: 5px;
  display: inline-block;
  transition: background-color .3s ease;
}

div.assigned-classes span:hover
{
  background-color: var(--themeHighlightColor);
  color: var(--menuTextColor);
}

div#teacher-subjects h4
{
  margin-bottom: 10px;
  font-weight: 300;
}

div#teacher-subjects ul h4
{
  font-weight: 600;
}

div#teacher-subjects ul
{
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  display: flex;flex-wrap: wrap;
}
div#teacher-subjects ul li

{
  display: flex;
  width: 359px;
  padding: 15px !important;
  margin-bottom: 15px !important;
  margin-right: 15px !important;
  /*border-radius: 3px !important;*/
  /*border-color: #d1d5da !important;*/
  border: 1px var(--dividerColor) solid !important;
}

div.subject p
{
  margin: 10px auto;
}

.subj-icons
{
  width: 100%;
  /*min-height:auto;*/
  font-size: 100%;
}

.subj-icons span
{
  display: inline-block;
  margin-right: 10px;
  min-width: 25px;
  height: 21px;
  text-align: center;
}

span.enrolment-num i
{
  color: var(--themeHighlightColor);
}

.subj-icons span.core i
{
  color: #00fe98;
}

.subj-icons span.elective i
{
  color: #45abf2;
}

.subj-icons span[class*='tbIs']
{

  vertical-align: bottom;
  background-size: 300px !important;
}
.subj-icons span[class*='tbIs2']
{

  vertical-align: bottom;
  background-size: 400px !important;
}