#osk
{
    box-sizing: content-box;
    width:620px;
    height:172px;
    background-color: #595959;
    /*padding: 5px 0 5px 5px;*/
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
    font:14px "segoe ui";
    cursor: move;
    border-radius: 3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    top:65%;
    left:50%;
    z-index: 70;
    padding: 10px;
    padding-right: 0;
    padding-top: 20px;
    opacity: .3;
}

#osk:hover
{
    opacity: 1;
}

#latinKeyboard
{
    width: calc(100% - 10px);
    height:auto;
}



#osk .row
{
    width:auto;
    height: 30px;
    clear: both;
    margin-bottom: 5px;
    margin-top: 0;
    overflow: visible;
}



#osk .row span.key
{
    width:35px;
    height:30px;
    background-color: #6B6B6B;
    border: 1px solid #595959;
    border-radius: 2px;
    display: block;
    text-align: center;
    margin-right: 5px;
    float: left;
    user-select: none;
    box-shadow: 0px 1.7px rgba(0, 0, 0, 0.45);
    transition: box-shadow 0.2s ease;
    cursor: default;
    position: relative;
    top:0;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select:none;
    box-sizing: content-box;
}

#osk .row span.key:hover
{
    //background: #cccccc;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.55);
}
#osk .row span.key:not(.disabled):active
{
    box-shadow: 0 0 rgba(0, 0, 0, 0.2);
    top: 2px;
}



#capsLock
{
    background-position:-368px center;
    transition: background-position .01s ease;
}

#osk .smallFont
{
    font-size: 11px;
}

#osk .row span.lastKey
{
    margin-right: 0 !important;
}

#osk .iconKey
{
    //color:transparent;
    background-image:url("../css/images/oskIcons.png");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}

#osk .noCaps
{
    line-height: 1;
    font-size: 11px;
}

#osk .smallFont
{
    font-size: 11px !important;
}

#osk #backSpace
{
    background-color: #0078ff;
}

#enterKey, #backKey, #fwdKey, #upKey, #downKey, #tabKey, #spaceBar
{
    /*background-color: #deff00 !important;*/
    background-color: #00fe98 !important;
}

#oskCloseBtn
{
    position: absolute;
    top: 0;
    right: 14px;
    min-width: 40px;
    height: 17px;
    background-color: rgba(255,255,255,.4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    line-height: .5;
    pointer-events: all;
}