$orangeColor : #ffcf02;
//$orangeColor : #ffb200;
$turquoise: #57ff82;
$t-dark-blue : #181b27;
$darkBlue : #091c55;
//$darkBlue : #000531;
$darkBlue2 : #0b2369;
//$darkBlue2 : #001097;
$black : #000;
$white : #fff;

$default-button-bg-color: $orangeColor;