/*
#0078ff; __blue
#004089 __deep blue
#f0f0f0 __light gray -form bg color
#ccc __form input border gray
#fff 
*/ 

*{margin:0;padding:0;}

body{
  background:#fff;
  font-family:'segoe ui',sans-serif;
}

/*.button{
  width:100px;
  background:#0078ff;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background:#2288bb;
}

*/
#logo_div{
	width:150px;
	height:150px;
	margin:0 auto;
	margin-top:50px;
	margin-bottom:50px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:50%;
}

@keyframes shake
{
  from{
    left: 0px
  }
  to
  {
    left:15px;
  }
}

#login{
 
  position: relative;
  width:400px;
  margin:0 auto;
  margin-bottom:auto;
  border:1px solid #ccc;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;

}

.shaker
{
  animation: shake 0.1s cubic-bezier(.65,-0.03,1,.68) 6 alternate 0.5s forwards;
}

#login h1{
  background:#0078ff;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
  background:#f0f0f0;
  padding:6% 4%;
}

#userTypeDiv{
	width:100%;
	height:30px;
  background:#fff;
  background-image: -webkit-linear-gradient(top , #fff, #F1F1F1);
  background-image: -moz-linear-gradient(top , #fff, #F1F1F1);
  margin-bottom:4%;
  border:1px solid #ccc;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
  
overflow:hidden;
  padding-top: 1%;
}
#userTypeDiv .inputIcon{
width: 15px;
height: 29px;
float: right;
background-image: url("spinner.png");
margin-top: -27px;
background-repeat: no-repeat;
padding-left: 2px;
position: relative;
}

#userTypeDiv select{
	width:105%;
	height:100%;
  background:#fff;
  border:none;
  padding:1%;
  font-size:95%;
  color:#555;
}



/*  for supported browsers
#userTypeDiv select :nth-child(n + 1){
  padding:2%;
}*/

/* for all browsers*/
#userTypeDiv select>option{
  padding:2%;
  ///width:calc(100% - 50%)
}



input[type="text"],input[type="password"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  width:100%;
  background:#0078ff;
  border:0;
  padding:4%;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#004089;
}