@import "colors";

.menubar
{
  height: 80px;
  background-color: transparent;
  position: fixed;
  -webkit-transition: height .3s;
  -moz-transition: height .3s;
  -ms-transition: height .3s;
  -o-transition: height .3s;
  transition: height .3s;
  z-index: 30;
  font-family: "open sans", sans-serif;
  //font-weight: 600;

  .menu-container{
    padding: 15px 20px;
  }

  .nav-bg{
    opacity: 0;
  }

  &.min{
    height: 50px;
    background-color: $orangeColor;

    .menu-container{
      padding: 5px 20px;
    }

    .menu
    {
      li{
        line-height: 2.5;
        a{
          color: $black;
          padding: 3px 25px;
        }
        a:hover
        {
          background-color: #fff !important;
        }
      }
    }

    .head-logo
    {
      width: 150px;

      img{
        height: 40px;
      }
    }
  }

  .head-logo
  {
    width: 150px;
    //background-color: #fff;

    img{
      height: 50px;
      transition: height .2s;
    }
  }

  .menu
  {
    float: right;
    li
    {
      line-height: 3.2;
      margin: 0 2px;

      &.active a{
        //background-color: rgba(255, 255, 255, .3);
      }

      a
      {
        padding: 8px 12px;
        -webkit-border-radius: 23px; -moz-border-radius: 23px; border-radius: 23px;
        transition: background .3s;
        color: $white;
        //background-color: #fff;
      }

      a:hover
      {
        background-color: transparent !important;
      }
    }
  }
}