
#osk
{
    box-sizing: content-box;
    width:620px;
    height:172px;
    position: absolute;
    top:65%;
    left:50%;
    z-index: 70;
    border: 1px solid #ececec;
    background-color: #fff;
    padding: 10px;
    padding-right: 0;
    padding-top: 20px;
    margin: 0 auto;
    /*margin-top: 20px;*/
    box-shadow: 0 1px 0.3em 0.02em rgba(0, 0, 0, 0.2);
    font:14px "segoe ui";
    cursor: move;
    border-radius: 3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#latinKeyboard
{
    width: calc(100% - 10px);
    height:auto;
}



#osk .row
{
    width:auto;
    height: 30px;
    clear: both;
    margin-bottom: 5px;
    margin-top: 0;
    overflow: visible;
}



#osk .row span.key
{
    width:35px;
    height:30px;
    border: 1px solid #ececec;
    border-radius: 2px;
    display: block;
    text-align: center;
    margin-right: 5px;
    float: left;
    box-sizing: content-box;
    user-select: none;
    -moz-user-select:none;
    box-shadow: 0px 1.7px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease;
    cursor: default;
    position: relative;
    top:0;
    -moz-box-align:center;
    -webkit-box-align:center;
    font-size: 14px;
    -webkit-user-select: none;
}

#osk.row span.key:hover
{
    /*background: #cccccc;*/
}
#osk .row span.key:not(.disabled):active
{
    box-shadow: 0 0 rgba(0, 0, 0, 0.2);
    top: 2px;
}

#osk #capsLock
{
    background-position:-368px center;
    transition: background-position .01s ease;
}

#osk .smallFont
{
    font-size: 11px !important;
}

#osk .row span.lastKey
{
    margin-right: 0 !important;
}

.iconKey
{
    /*color:transparent;*/
    background-image:url("images/oskIcons.png");
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
}

#osk .noCaps
{
    line-height: 1;
    font-size: 11px;
}

#oskCloseBtn
{
    position: absolute;
    top: 0;
    right: 14px;
    min-width: 40px;
    height: 17px;
    background-color: rgba(255,255,255,.4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    line-height: .5;
    pointer-events: all;
}