#propertyBar
{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 18px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    font-family: "sertig", "segoe ui", "helvetica", "Open Sans", "Source Sans Pro", "arial", sans-serif;
    position: relative;
    z-index: 29;
    overflow: hidden;
}
#desktop
{
    padding: 0;
}
.scrollableContainer
{
    width: 100% !important;
}

#propertyBar form{
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
}

#propertyBar form select
{
    /*border:1px solid #ccc;*/
    height: 30px;
    margin-bottom:0;
    padding: 0 5px;
}

#propertyBar form input
{
    margin-bottom: inherit;
}

#propertyBar form input[type="button"], #propertyBar form input[type="submit"]
{
    height: unset;
}
#sidebar,#sidebar2
{
    height: calc(100% - 80px) !important;
    padding-top:0 !important;
    overflow-x:hidden ;
}
#propertyBar .tableListSearchForm
{
    height: unset;
}

#propertyBar form input.longSearchBar
{
    background-image: url('../css/images/searchicon.png'); /* Add a search icon to input */
    background-position: 9px 3px;
    background-repeat: no-repeat;
    width: 67.5%;
    font-size: 16px;
    padding: 4px 30px 4px 40px;
    margin: 0;
}

table, .tablePanel{
    /*border: 0;*/
}
#scrollableC2
{
    background-color: #fff;
}
.teacherSubjectList li
{
    padding: 20px;
    margin: 0 !important;
}


ul.teacherSubjectList li:nth-child(4n+1)
{
    margin: 20px;
}

#propertyBar .styleSwitchBtns
{
    margin-top: -31px;
    margin-right: 0;
}
#propertyBar input.shortInp, #propertyBar select.shortSel
{
    width: 100px;
}

#propertyBar input.shortInp:hover
{
    /*background: rgba(0, 120, 255, 0.68);*/
    border-color:#0078ff ;
}
