*{
  /*box-sizing: border-box;*/
}

:root
{

  --tdBgColor : rgba(255, 255, 255, 0.32);
  --tdTextColor : var(--menuTextColor);
  --rowHoverColor : rgba(0, 254, 152, 0.75);

  --colHighlightColor : rgba(255, 255, 255, 0.24);
}

html, body
{ height: 100%;
}

.container
{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

table
{
  border-collapse: collapse;
  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);*/
  overflow: hidden;
  width: calc(100%);
  border: none;
  border-left: none;
  border-right: none;
}
.dataTable thead
{
  border-bottom: var(--theadBorderBtm);
}

.dataTable tbody tr
{
  background-color: var(--tableBgColor);
  border-bottom: 1px solid var(--rowDividerColor);
}

.dataTable tbody tr.highlighted
{
  transition : background-color .6s;
}

/*noHov = no hover bg*/
.dataTable tbody tr:not(.noHov):hover
{
  background-color: var(--rowHoverColor);
}

tbody tr:hover>td.rowActions button
{
  visibility: visible;
}

.dataTable tbody tr.highlighted
{
  background-color: var(--rowHighLightColor);
}

table tfoot.buttonRow, table tr.footRow
{
  background-color: var(--dialogFootColor);

}

table tfoot.buttonRow
{
  border-top: 1px solid var(--dividerColor);

  height: 45px;
  padding: 7px;
}


.highlighted
{
  background-color: var(--rowHighLightColor);
}

table tfoot tr.highlighted
{
  background-color: unset;
}


/*region col highlighlith hack*/
/*.dataTable td*/
/*{*/
  /*position: relative;*/
/*}*/

/*.dataTable td:hover:before*/
/*{*/
  /*content: "";*/
  /*position: absolute;*/
  /*left: 0;*/
  /*right: 0;*/
  /*top: -9999px;*/
  /*bottom: -9999px;*/
  /*z-index: -1;*/
  /*background-color: var(--colHighlightColor);*/
/*}*/
/*endregion*/

.dataTable th, td
{
  padding: 5px 10px;
  color: #000;
  font-weight: 400;
  /*border-spacing: 0;*/
}

.dataTable.padInner td:not(.checkCol)
{
  padding: 0;
}
.dataTable.padInner td div:not(.checkbox)
{
  padding: 5px 10px;
}

.dataTable th
{ text-align: left;
  background-repeat: no-repeat;
  background-position:  calc(100% - 10px) center;
  border-right: 1px solid var(--thBgColor);
  border-left: 1px solid var(--thBgColor);
  background-color: var(--thBgColor);
  color: var(--thTextColor);
}

span.checksLabel
{
  margin-left: 10px;
}

.dataTable td
{
  height: 30px;
  /*border-right: 1px solid var(--tableBgColor);*/
}

.dataTable.inBetween td
{
  height: 35px;
}

.dataTable.medium td
{
  height: 40px;
  /*border-right: 1px solid var(--tableBgColor);*/
}

.dataTable.large td
{
  height: 50px;
}

.dataTable.larger td
{
  height: 60px;
}
.dataTable.x-larger td
{
  height: 70px;
}
.dataTable.xx-larger td
{
  height: 80px;
}

td.short{
  width: 150px;
}
td.mid-short{
  width: 120px;
}


td.shorter{
  width: 100px;
}
td.shortest{
  width: 50px;
}

td.rowActions
{
  text-align: center;
  padding: 5px 5px;
}

td.rowActions button:not(.always-visible)
{
  visibility: hidden;
}

td.rowActions button{
  min-width: unset !important;
  width: 25px !important;
  height: 25px !important;
  padding: 2px !important;
  margin: 0 5px !important;
}

.dataTable td input, th input
{
  margin: 0 5px !important;
}

.dataTable td.ctr input, th input {
  margin: 0 auto !important;
}

.dataTable td select, th select
{
  max-width: 150px;
}

td.checkCol , th.checkCol, th.revealer, td.revealer
{
  width: 39px !important;
  padding: 5px 3px;
  border-right: 1px solid var(--rowDividerColor);
}

td.no-rl-pad
{
  padding: 5px 0;
}

td.small-rl-pad
{
  padding: 5px 3px;
}

th.ar
{
  padding-right: 30px;
}

th.br, td.br{
  border-right: 1px solid var(--dividerColor);
}


th.bl, td.bl{
  border-left: 1px solid var(--dividerColor);
}

th.ar2
{
  text-align: right;
}

th.revealer, td.revealer
{

  border-right: none;
  border-left: 1px solid var(--rowDividerColor);
}

td.revealer
{
  border-bottom: 1px solid var(--rowDividerColor);
  background-image: url("../css/images/dChevron2.png");
  background-position: center;
  background-repeat: no-repeat;
}

td.rvRight
{
  background-image: url("../css/images/rChevron.png");
  background-size: 30px;
}

td.revealer:hover
{
  background-color: #FFDF62;
}

td.revealer div{
  background-color: #6b6b6b;

  height: 100%;
  width: 100%;
}

.checkbox input
{
  display: none !important;
}


th .checkbox label::before, td .checkbox label::before {
  background-color: var(--checkBoxBg);
  border: 1px solid var(--dividerColor);
  /*left: 30px !important;*/
  top: -15px;
  margin: 0 auto;
}

th .checkbox label::after, td .checkbox label::after {
  left: 28px !important;
  top: -15px !important;

}

.checkbox input.someChecked[type="checkbox"] + label::after {
  font-family: FontAwesome, sans-serif;
  content: "\f068" !important;
  /*left: 33px !important;*/
  left: 29px !important;
  /*top: -11px !important;*/
}

.checkbox label {
  /*margin-left: 20px;*/
}

th .checkbox label, td .checkbox label {
  margin-left: 0;
}

.sortableHead
{
  /*background-image: url("images/spinner.png");*/
  background-image: url("images/dSpinner.png");
}

.sortable_sorted_reverse
{
  /*background-image: url("images/sortedASC.png");*/
  background-image: url("images/dSortedASC.png");
}

.sortable_sorted
{
  /*background-image: url("images/sortedDESC.png");*/
  background-image: url("images/dSortedDESC.png");
}

.hResizeThumb
{
  background-color: transparent;
  position: fixed;
  cursor: col-resize;
}

.hResizeThumb:hover
{
  background-color: #ccc;
}

/*region data tables*/
.dataTable .expandable
{
  text-align: left;
  background: #e8e8e8;
  border-bottom: 5px solid var(--abacusBlue);
  /*display: none;*/
  z-index: 500;
}

.dataTable tr.expanded + .expandable {
  display: table-row;
}

table .expandable .expandableFixtures {
  font-size: 1.2rem;
  float: right;
}

.table .expandable .expandableFixtures .resultWidget {
  float: left;
  margin-right: 20px;
}
.resultWidget {
  margin-bottom: 1rem;
}



/*endregion*/

