/*body
{
  margin: 0;
  padding-top: 100px;
  height: 100vh;
  background: -webkit-linear-gradient(315deg, #1e5799 0%, #03a9f4 100%);
  background: linear-gradient(135deg, #1e5799 0%, #03a9f4 100%);
  font-family: "Segoe UI", helvetica, arial, san-serif, serif;
}

body *
{
  box-sizing: border-box;
}*/

.time
{
  width: 50%;
  min-width: 200px;
  margin: 25px auto;
}

.timeheading
{
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.timeinput
{
  width: 100%;
}

.timeinput .timepicker
{
  width: 100%;
  font-size: 18px;
  padding: 10px;
  font-weight: 300;
  text-align: center;
  /*border: solid 2px #303233;*/
  color: var(--menuTextColor);
  outline: none;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.1);
}

div.timepickerwrapper
{
  opacity: 0;
  height: auto;
  min-width: 100px;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  -webkit-transition: max-height .1s ease-in-out;
  transition: max-height .1s ease-in-out;
  background: var(--normalBgColor);
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  z-index: 20;
  border: 1px solid var(--dividerColor);

}

/*div[id^="tp_"].timepickerwrapper **/
/*{*/
  /*!*box-shadow: border-box;*!*/
/*}*/

div.timepickerwrapper-active
{
  opacity: 1;
  max-height: 150px;
  padding: 5px;
}

div[id^="tp_"].timepickerwrapper-full > div
{
  width: 33% !important;
}

div.timepickerwrapper > div
{
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 50%;
  max-width: 75px;
}

div.timepickerwrapper > div .display
{
  color: var(--menuTextColor);
  font-size: 18px;
  font-weight: 100;
  line-height: 35px;
  margin: 0;
  /*text-transform: uppercase;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.timepickerwrapper > div .timepickerbutton
{
  /*margin: 10px auto;*/
  padding: 0;
  /*background: #fff;*/
  cursor: pointer;
  background: transparent;
  border: solid 5px transparent;
  background-image: url("../css/images/uChevron.png");
  background-repeat: no-repeat;
  background-position: 41% 49%;
  background-size: 30px;
}

div.timepickerwrapper > div .timepickerbuttondown
{
  background-image: url("../css/images/dChevron2.png");
}

div.timepickerwrapper > div .timepickerbuttonup > div
{
  width: 0;
  height: 0;
  margin: auto;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  /*border-bottom: solid 5px var(--menuTextColor);*/

}

div.timepickerwrapper > div .timepickerbuttondown > div
{
  width: 0;
  height: 0;
  margin: auto;
  border-left: solid 5px transparent;
  border-right: solid 5px transparent;
  /*border-top: solid 5px var(--menuTextColor);*/
}
