* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline:none;
    /*-webkit-user-select: none;*/
    /*transition: all .3s;*/
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus, *:active, *:hover
{
    outline:none;
}

html, body
{
    height: 100%;
    width: 100%;
    /*background-color: #00fe98;*/
    overflow: hidden;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

a:hover, a:active, a:focus {
    /* styling for any way a link is about to be used */
    outline: none;
}

i.fa:not(.fa-calendar), button span{
    pointer-events: none;
}

p, h1, h3, div, section
{
    cursor: default;
}

.comboBx
{
    width: 200px;
    height: 25px;
    border: 1px solid #ccc;

    display: inline-block;
}
.comboControl
{
    width: 100% ;
    height: 100%;
}
.comboControl input
{
    width: calc(100% - 20px);
    height: 100%;
    padding: 2px 5px;
    float: left;
    border: 0;
}
.comboControl button.dropBtn
{
    width: 20px;
    height: 100%;
    background-color: #19e4ff;
    float: right;
}
.dropDownList{
    clear: both;
    min-width: 200px;
    height: auto;
    border: 1px solid #ececec;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    position: absolute;
    /*top:100%;*/
    /*left: 0;*/
    max-height: 400px;
    overflow-y: auto;
    display: none;
    z-index: 20;
}

.dropDownList ul
{
    background-color: #fff;
}
.dropDownList ul li
{
    /*padding: 3px 10px;*/
    padding: 0 10px;
    max-height: 20px;
    font-family: "segoe ui", "helvetica", "Open Sans", "Source Sans Pro", "arial", sans-serif;
    font-size: 14px;
    word-wrap: normal;
    overflow-wrap: normal;
}

.dropDownList ul li:not(.hDivider):not(.heading):hover
{
    background-color: #00c4ff;
    color: #fff;
}

.dropDownList ul li.hDivider
{
    color: transparent;
    border-bottom: 1px solid #c6c6c6;
    height: 0;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0 !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.dropDownList ul li.heading{
    background-color: #ccc;
    color: #000;
}