.toolWindowBalloon{z-index:49;width: 100%;height: 35px;position: absolute;background-color: #feffc1; top: 0;transition: all .3s ease; box-shadow: 0 2px 6px rgba(46, 50, 61, 0.36);}

.toolWindowBalloon p{margin: 0;text-align:left;display:inline-block;font-size:20px;font-weight: normal;margin-left: 20px;line-height: 1.5;}

.closeBtn{height: 24px;width: 24px;border: 0;float:right;background: transparent;font-size: 20px;cursor: pointer;opacity: .5;}
.closeBtn:hover{opacity:1; box-shadow:none;}

.balloon{z-index:48;
    font-weight: 400;
    min-width: 200px;
    max-width: 350px;
    max-height: 150px;min-height: 100px;position: absolute;background-color: #fff;bottom: 40%;right: 12px;
    padding: 15px;height: auto;width:auto;border-radius: 2px;border: 2px solid #0078df;opacity: 1;
    transition: all .3s ease;box-shadow: 0 2px 6px rgba(46, 50, 61, 0.36);}

.balloon::before, .balloon::after
{content: "";position: absolute;width: 0;height: 0;border-style: solid;border-color:transparent;}

.balloon::before{
    bottom: 75px;
    left: -33px;
    border-top-color: #0078df;
    border-right-color: #0078df;
    border-bottom-width: 20px;
    border-right-width:30px;
    border-top-width: 3px;
}

.balloon::after{
    bottom: 76px;
    left: -27px;
    border-top-color: #fff;
    border-right-color: #fff;
    border-bottom-width: 17px;
    border-right-width: 25px;
}

.balloon .closeBtn
{
    min-height: 24px;
    max-height: 24px;
    min-width: 24px;
    max-width: 24px;
    padding:0;
    margin-right: 0;
    float:right;
    font-size: 20px;
    cursor: pointer;
    top: -14px;
    position: absolute;
    right: -11px;
    border: 2px solid #0078df;border-radius: 50%;
    line-height: 1px;
    background: #fff;
    opacity: 1;
    vertical-align: middle;
    text-align: center;
    color: rgba(0, 0, 0, .5);
}

/*.balloon:hover:not(.closeBtn){opacity: .6;}*/

.balloon .closeBtn:hover{opacity: 1;color: rgba(0, 0, 0, 1);}

.balloon .msgIcon { font-family: 'segoe mdl2 Assets', sans-serif; vertical-align: middle; font-size: 20px; margin-right: 12px; width: auto; height: auto; border-radius: 50%;}

.toolWindowBalloon a, .balloon a{
    color: #00a5ff;
}

.toolWindowBalloon a:hover, .balloon a:hover{
    text-decoration: underline;
}