*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
/*html {*/
  /*overflow-y: scroll;*/
/*}*/
/*body {*/
  /*background: #c1bdba;*/
  /*font-family: 'Titillium Web', sans-serif;*/
/*}*/
/*a {*/
  /*text-decoration: none;*/
  /*color: #1ab188;*/
  /*-webkit-transition: .5s ease;*/
  /*transition: .5s ease;*/
/*}*/
/*a:hover {*/
  /*color: #179b77;*/
/*}*/
/*.overlay {*/
  /*z-index: 200;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*background-color: #000;*/
  /*opacity: .7;*/
  /**/
  /*overflow: hidden;*/
  /*display: block;*/
/*}*/
/**/
/*section {*/
  /*width: 100%;*/
  /*height: 100%;*/
/*}*/

div.dialog
{
  max-width: 600px;
  width: 600px;
  margin: 0 auto;
  /*margin: 30px auto;*/
  /*margin: 40px auto;*/
  /*box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);*/
  box-shadow: 0 1px 2px 1px rgba(19, 35, 47, 0.3);
  z-index: 300;
  position: absolute;

  top: 30px;
  left: 0;
  /*left: 30%;*/
  /*transition: .3s;*/
}

div.dialog
{
  /*top: -650px;*/
}

div.dialog .fdg-h
{
  height: 40px;
  /*border-bottom:1px solid #00fe98;*/
}

.fdg-pr /*progress*/
{
  width: 100%;
  height: 3px;
  overflow: hidden;
  display: none;
}

.fdg-pr .load-bar
{
  height: 100%;
  width: 30%;
  background-color: #ffd800;
  transition: all .2s ease;
}

div.dialog h1
{
  padding: 5px 10px  5px 20px;
  background-color: #0078ff;
  border-bottom: 1px solid #353434;
  /*border-bottom: 1px solid #ffd800;*/
  height: 40px;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

div.dialog h1 button
{
  height: 100%;
  float: right;
  font-size: 35px;
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

div.dialog h1 button:hover
{
  color: #fff;
}

div.dialog .formBody
{
  padding: 20px;
  height: 500px;
  width: 100%;
  /*width: calc(100% - 40px);*/

  overflow-y: auto;

}





.formContainer {
  background: #6b6b6b;
  /*background: rgba(19, 35, 47, 0.9);*/
  /*padding: 20px;*/
  max-width: 100%;
  /*border-radius: 4px;*/
  border-radius:0 ;
}

label {
  /*position: absolute;*/
  /*-webkit-transform: translateY(6px);*/
          /*transform: translateY(6px);*/
  /*left: 13px;*/
  color: rgba(255, 255, 255, 0.7);
  /*-webkit-transition: all 0.25s ease;*/
  /*transition: all 0.25s ease;*/
  /*-webkit-backface-visibility: hidden;*/
  /*pointer-events: none;*/
  font-size: 14px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input:not(#myInput):not(.plValue), textarea {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.45);
  /*background: none;*/
  /*background-image: none;*/
  border: 1px solid #353434;
  /*border: 1px solid rgba(160, 179, 176, 0.25);*/
  /*border: 1px solid #a0b3b0;*/
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;

  /*border-top-color: transparent;*/
  /*border-left-color: transparent;*/
  /*border-right-color: transparent;*/
}
input.short, label.short
{
  width: 48% !important;
}

input:focus, textarea:focus, select:focus {
  outline: 0;
  border:1px solid #0078ff !important;
  /*border:1px solid #1ab188 !important;*/
}

textarea {
  border: 1px solid #353434;
  resize: vertical;
  max-height: 150px;
  min-height: 30px;

}

.field-wrap {
  position: relative;
  /*margin-bottom: 40px;*/
}

.formBody .centered{
  margin: auto;
}

.center-text{
  text-align: center;
}

.formBody fieldset
{
  margin-bottom: 25px;
  border: 1px solid #353434;
  /*border: 1px solid #0595ff;*/
  padding: 10px;
}

.formBody fieldset:last-of-type
{
  margin-bottom: 20px;
}

/*.formBody fieldset input:last-of-type,*/
.formBody fieldset select:last-of-type
{
  margin-bottom: 0 !important;
}

fieldset.noborder
{
  border: 1px solid transparent;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 10px;
}

fieldset.noborder legend
{
  /*color: rgba(255, 255, 255, 0.7);*/
}

/*region profile pic*/
fieldset .profilePic
{
  width:100px;
  height:100px;
  /*border-radius: 50%;*/
  border: 1px solid #353434;
  border-bottom-width: 3px;
  border-bottom-color: #0078ff;
  background-color: #3b3b3b;
}

fieldset .profilePic:hover
{
  border-color: #0078ff;
}

div.editableImageDiv
{
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  /*border: 1px solid transparent;*/
  overflow: hidden;
  /*padding-top: 3px;*/
  box-sizing: content-box;
  text-align: center;
  transition: all .3s;
}

div.editableImageDiv div.editImgContainer
{
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

div.editableImageDiv div.editCommands
{
  width: 100%;
  height: 30px;
  /*background-color: rgba(0,0,0, .5);*/
  position: relative;
  bottom: 0;
  color: #fff;
  /*padding: 5px;*/
  /*display: none;*/
  box-sizing: content-box;
  transition: all .3s;
}

div.editableImageDiv:hover
{
  /*border-color:  var(--dividerColor);*/
  /*background-color: var(--checkBoxBg);*/
}


div.editableImageDiv:hover div.editCommands
{
  bottom: 31%;
  /*display: block;*/
}

div.editCommands:hover
{
  /*background-color: rgba(0,0,0, .7);*/
}

div.editCommands span
{
  display: inline-block;
  box-sizing: content-box;
}

div.editCommands span.imgIDf
{
  width: calc(100% - 40px);
  height: calc(100% - 10px);
  background-color: rgba(0,0,0, .5);
  padding: 5px;
  font-weight: 500;
  box-sizing: content-box;
}

span.editCommandIcons
{
  height: calc(100% - 10px);
  width: 20px;
  text-align: right;
  float: right;
  box-sizing: content-box;
  padding:5px;
  background-color: rgba(0,0,0, .5);
  transition: all .3s;
}

span.editCommandIcons:hover{
  background-color: rgba(0,0,0, .7);

}

span.editCommandIcons i{
  width: 20px;
  height: 100%;
  display: inline-block;
  text-align: center;
  cursor: default;
  /*background: #000;*/
  /*padding: 5px;*/
  box-sizing: content-box;
  /*pointer-events: all !important;*/


}

span.editCommandIcons i:hover{
  /*background: #000;*/
}

/*endregion*/

fieldset div.iconed
{
  width: 100%;
  height: 30px;
}

fieldset div.iconed input
{
  width: calc(100% - 30px) !important;
  float: left;
  border-right: 1px solid #272727;
  /*border-right: none !important;*/
}

fieldset div.iconed span
{
  display: inline-block;
  width: 30px;
  background-color: #3b3b3b;
  /*float: right;*/
  height: 100%;
  border-left: 1px solid #272727;
}

.tb
{
  border: 1px solid #353434;
  border-top: 5px solid #0078ff;
}
.field-card
{
  padding: 10px;
}

.formBody legend
{
  /*color: #fff;*/
  color: #353434;
  /*color: rgba(160, 179, 176, 0.8);;*/
  font-size: 11px;
}

.formBody legend.centered
{
  width: 100%;
  text-align: center;
  /*position: relative;*/
  /*left: 0;*/

  /*height: 8px;*/ /*legend type height*/
  /*height: 20px;*/ /*normalise height*/

}

input.unwrapped, select.unwrapped
{
  margin-bottom: 10px !important;
}

.fields-row:after {
  content: "";
  display: table;
  clear: both;
}

.fields-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.fields-row > div:last-child {
  margin: 0;
}

div.dialog .formFoot
{
  height: 55px;
  padding: 10px;
  background-color:     #5c5c5c;
  border-top: 1px solid #ffd800;
}

div.dialog .formFoot button
{
  height: 35px;
  float: right;
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 5px 5px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
  margin-left: 10px;
  min-width: 70px;
}

.button {

}
.button:hover:not(.disabled), .button:focus:not(.disabled) {
  background: #179b77;
}

.button-block {
  /*display: block;*/
  /*width: 100%;*/
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

a.button
{
  text-align: center;
}
a.button:hover
{
  color: #fff;
  background-color: #128f66;
}

select
{
  border: 1px solid #353434;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  min-width: 100%;
  font-weight: 500;
}

.ucl
{
  text-transform: uppercase;
}


/*region*/

input.plValue
{
  display: inline !important;
  text-align: center !important;
  width: 150px !important;
  /*text-align: right;*/
  /*display: inline-block;*/
  height: 100% !important;
  /*background: #ccc;*/
  padding: 10px !important;
  font-family: "sertig", sans-serif !important;
  font-size: 20px !important;
  color: #fff !important;
  font-weight: 600 !important;
}

div.aor-cs
{
  height: 100px;
  width: 30px;
  float: right;
  margin-top: -100px;
  /*padding: 12px 0;*/
  padding: 2.6% 0;
}

.add-control-set, button.add-control-set,
.remove-control-set, button.remove-control-set,
.edit-control-set, button.edit-control-set
{
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 20px;
  text-align: center;
  line-height: 0;
  color: #1ef250;
  border: 1px solid #656565;
  background-color: transparent;
  float: right;
}

.add-control-set:hover, button.add-control-set:hover,
.remove-control-set:hover, button.remove-control-set:hover,
.edit-control-set:hover, button.edit-control-set:hover
{
  background-color: #4c4f53;

}

.add-control-set:hover, button.add-control-set:hover
{
  border: 1px solid #1ef250;

}

.remove-control-set, button.remove-control-set
{
  color: #ff0000;
}

.edit-control-set, button.edit-control-set
{
  color: #f29600;
}

.remove-control-set:hover, button.remove-control-set:hover
{
  border: 1px solid #ff0000;

}

.edit-control-set:hover, button.edit-control-set:hover
{
  border: 1px solid #f29600;
}

.hidden
{
  display: none;
}

.req-field
{
  color: #ff0000;
}

#error-tip
{
  height:auto;
  /*height:70px;*/
  min-width:150px;
  max-width:350px;
  border: 1px solid #353434;
  border-radius:2px;
  background-color: #6b6b6b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 302;
  /*padding:10px;*/
  box-shadow: 0 1px 2px 2px rgba(19, 35, 47, 0.3);
  /*overflow: hidden;*/
  display: none;
}

#error-tip h1
{
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #353434;
  padding: 2px 10px;
  width: 100%;
}

#error-tip h1 button
{
  background: transparent;
  color: rgba(255, 255, 255, 0.71);
  border: none;
  border-radius:50% ;
  height:15px;
  width:15px;
  float: right;
  text-align: center;
  padding: 0;
  margin-top: 2px;
  margin-right: -5px;
  font-size: 18px;
  line-height: 0;
}

#error-tip h1 button:hover
{
  background: rgba(255, 255, 255, 0.71);
  color: #6b6b6b;
}

#error-tip p
{
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: #ff0000;
  padding: 10px;
  padding-top: 5px

}

#error-tip p #field-name
{
  color: #0078ff;
}

#error-tip::before, #error-tip::after
{ content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top: 0;
}

#error-tip::before
{
  top: -11px;
  border-bottom-color: #353434;
  border-width: 10px;
  left: 5%;
}

#error-tip::after
{
  top: -10px;
  border-bottom-color: #6b6b6b;
  border-width: 10px;
  left: 5%;
}